<!doctype html>
<html>
    <head>
        <title>Inklet</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
        <link rel="icon" href="{{ url_for('static', filename='icon.png') }}" />
    </head>
    <body>
        <header>
            <h1>
                Inklet
            </h1>
        </header>
        <p>
            401 (Access Denied)
        </p>
        <p>
            <a href="/">Index</a> | <a href="/browse">Browse</a>
        </p>
    </body>
</html>
